<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Welcome from Symfony!{% endblock %}</title>
    {% block style %}

    {% endblock %}
</head>
<body>
    {% block body %}
        <h1>HI, I am {{who}}</h1>
    {% endblock %}
</body>
    {% block javascripts %}
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.esm.browser.js"></script>
    {% endblock %}
</html>